<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="timerIntervalMinutes" value="5" />
    <add key="version" value="v1.2.1" />
    <add key="logFilePath" value="c:/PharmaRocketService/log.txt" />
    <add key="jonStoragePath" value="c:/PharmaRocketService/storage.json" />
    
    <add key="sentryKey" value="https://05fec9a1c4a44ddb8b1085041ef613ab@sentry.io/1248249" />

    <!--<add key="apiUrl" value="http://localhost:61584/" />-->
    <add key="apiUrl" value="http://pharma-rocket-api.azurewebsites.net/" />

    <add key="integracaoOrcamentosUrl" value="api/integracao/OrcamentosFormulaCerta?idFarmacia=" />
    <add key="integracaoFormulasUrl" value="api/integracao/FormulasFormulaCerta?idFarmacia=" />
    <add key="autenticacaoUrl" value="api/login" />
    <add key="autenticacaoUsuario" value="integracaoFrmCerta" />
    <add key="autenticacaoSenha" value="@integracaoFrm" />
    <add key="tamanhoPacote" value="100" />
    <add key="cargaInicialOrcamentoDias" value="60" />
    <add key="cargaInicialFormulaDias" value="60" />

    <!-- Farmacia Teste-->
    <add key="idFarmaciaIntegracao" value="1085ab39-5c24-4e5f-9d0b-5d7ad94a6bc2" />
    <add key="connectionString" value="User=SYSDBA;Password=masterkey;Database=C:\Users\Wilckerson Ganda\Documents\FormulaCertaDB2\ALTERDB130720180234.ib;DataSource=localhost;          Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />

    <!-- WellFarmacia -->
    <!--<add key="idFarmaciaIntegracao" value="0f7cce7e-c2b7-4258-8c92-dc5bc69d794c" />-->
    <!--<add key="connectionString" value="User=SYSDBA;Password=masterkey;Database=D:\FCERTA\DB\ALTERDB.ib;DataSource=localhost;          Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />-->


    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>
