<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="installLocation" value="C:\PharmaRocketService"/>
   
    <add key="serviceName" value="PharmaRocketService"/>
    <add key="serviceExe" value="WindowsService.exe"/>

    <!-- DEBUG -->
    <!--<add key="serviceFilesLocation" value="C:\Projetos\pharma-rocket\pharma-rocket-winsvc-v2\WindowsService\bin\Debug"/>-->
    
    <!-- RELEASE -->
    <add key="serviceFilesLocation" value="./Files"/>
    
  </appSettings>
</configuration>